body{
  margin:0;
  overflow:hidden;
  font-family:"Georgia", serif;
  background: linear-gradient(to bottom, #ffe6f0, #ffb3cc);
  text-align:center;
  color:#ff1a66;
}

.hidden{display:none;}

#startScreen{
  position:absolute;
  top:50%; left:50%;
  transform:translate(-50%,-50%);
  font-size:28px;
  cursor:pointer;
}

#speechScreen{
  position:absolute;
  top:50%; left:50%;
  transform:translate(-50%,-50%);
  width:80%;
  max-width:900px;
  font-size:28px;
  line-height:1.8;
  color:#ff3366;
}

#inviteScreen{
  position:absolute;
  top:50%; left:50%;
  transform:translate(-50%,-50%);
}

.invite-box{
  background:#fff0f5;
  border:3px solid #ff4d88;
  padding:40px;
  border-radius:20px;
  width:80%;
  max-width:600px;
}

.invite-box p{
  font-size:26px;
  margin-bottom:30px;
}

.buttons button{
  padding:15px 30px;
  margin:15px;
  font-size:22px;
  background:#ff4d88;
  border:none;
  border-radius:12px;
  color:white;
  cursor:pointer;
  transition:.3s;
}
.buttons button:hover{
  transform:scale(1.2);
  box-shadow:0 0 25px #ff4d88;
}

#photoScreen{
  position:absolute;
  top:50%; left:50%;
  transform:translate(-50%,-50%);
}

.photo-big{
  width:650px;
  max-width:90%;
  border-radius:25px;
  box-shadow:0 0 80px #ff4d88;
  opacity:0;
  transform:scale(0);
  transition: all 1s ease-in-out;
}

#photoText{
  font-size:28px;
  margin-top:20px;
  color:#ff3366;
}

canvas{
  position:fixed;
  top:0; left:0;
  pointer-events:none;
}
